@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Bloquea el ajuste automático de tamaño de fuente del sistema operativo */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: #f3f4f6; /* Fondo gris claro tipo App moderna */
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-tap-highlight-color: transparent; /* Quita el destello azul al tocar botones en el celu */
}

@layer utilities {
  /* Oculta el scrollbar en navegadores basados en WebKit (Chrome, Safari, Edge) */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Oculta el scrollbar en Firefox y otros */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}