@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Bloquea el ajuste automático de tamaño de fuente del sistema operativo */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: #f3f4f6; /* Fondo gris claro tipo App moderna */
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-tap-highlight-color: transparent; /* Quita el destello azul al tocar botones en el celu */
  
  /* ✅ SOLUCIÓN PARA LA CÁMARA DEL IPHONE (Áreas Seguras) */
  /* El navegador calculará el alto de la cámara/hora y empujará el contenido hacia abajo */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@layer utilities {
  /* Oculta el scrollbar en navegadores basados en WebKit (Chrome, Safari, Edge) */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Oculta el scrollbar en Firefox y otros */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}